version: '3.8'
services: 
    web:
        build:
            context: ./docker
            dockerfile: Web.dockerfile
        container_name: web-${APP_EXT}
        ports: 
            - "80:80"
        volumes: 
            - ./docker/nginx.conf:/etc/nginx/conf.d/nginx.conf
            - ./app:/app
    php:
        build:
            context: ./docker
            dockerfile: PHP.dockerfile
            args:
                php_version: ${PHP_VERSION}
        container_name: php_server-${APP_EXT}
        environment:
            XDEBUG_CONFIG: client_host=host.docker.internal
        expose:
            - 9001
        volumes: 
            - ./app:/app
    mysql:
        image: mariadb:10.3
        container_name: mysql_server-${APP_EXT}
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
        volumes:
            - mysqldata:/var/lib/mysql
        ports:
            - 3306:3306
    elasticsearch:
        image: elasticsearch:7.12.1
        container_name: elasticsearch-${APP_EXT}
        ports:
            - 9200:9200
            - 9300:9300
        environment:
            ES_JAVA_OPTS: '-Xms256m -Xmx256m'
            network.bind_host: 0.0.0.0
            network.host: 0.0.0.0
            discovery.type: single-node
volumes:
    mysqldata: {}
